@tailwind base;
@tailwind components;
@tailwind utilities;

.StepWizard {
    flex-direction: column-reverse
}

#__next::-webkit-scrollbar {
  width: 6px;
	background-color: #F5F5F5;
}

#__next::-webkit-scrollbar-thumb {
	background-color: #000000;
}

#__next::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }